@import './Card.css';

.risk-analysis ul {
    list-style-type: none;
    padding: 0;
}

.risk-item {
    padding: 8px;
    border-left: 4px solid var(--border-color);
    margin-bottom: 8px;
}

.risk-item.severity-high {
    border-left-color: var(--danger-color);
}

.risk-item.severity-medium {
    border-left-color: var(--warning-color);
}

.risk-item.severity-low {
    border-left-color: var(--success-color);
}
